.header{
    /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    border-bottom: 2px solid lightgrey;
}
.headerLogo img{
    width: 30vw;
    /* height: 10px; */
}
.logoutBtn{
    width: 7vw;
    height: 3vw;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}